<div class="diary-editable-list-component"
     v-cloak
     >

    <diary-edit-component ref="diaryEditDialog"
                          :errors="errors"
                          @onClose="onCloseDiaryEdit"></diary-edit-component>

    <nav aria-label="breadcrumb">
        <!-- パンくずリスト -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span class="oi oi-home"></span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span data-v-58031b14="" class="oi oi-book"></span> 日記</li>
        </ol>
    </nav>

    <div class="card" v-if="isLoad">

        <div class="card-body search-condition-area">

            <!-- 検索条件 -->
            <form class="searchcondition">
                <div class="form-group row">
                    <div class="col-12 clearfix">

                        <select class="custom-select form-control inline-block float-left mr-2"
                                v-model="condition.diaryYear"
                                @change="onChangeDiaryYear">
                            <option v-for="year in diaryYearMonthInfo.diaryYearList"
                                    :key="year"
                                    :value="year">{{year + '年'}}</option>
                        </select>

                        <select class="custom-select form-control inline-block float-left mr-2"
                                v-model="condition.diaryMonth"
                                @change="onSearch(condition.diaryYear, condition.diaryMonth)">
                            <option v-for="month in diaryMonthList"
                                    :key="month"
                                    :value="month">{{month + '月'}}</option>
                        </select>

                        <a href="#"
                           class="btn btn-primary float-right"
                           @click.stop.prevent="onViewRecord(null)"><span class="oi oi-plus"></span></a>

                    </div>
                </div>
            </form>

        </div>

        <div class="card-body editable-list-area">

            <div class="row">
                <div class="col-6">
                </div>
            </div>

            <!-- 検索結果 -->
            <div class="searchresult table-responsive" v-if="list.length > 0">

                <table class="table" style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 60px;">日付</th>
                            <th style="width: 100%;">タイトル<br>内容</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <template v-for="(rec, index) in list">
                        <tr :key="index">
                            <td>{{rec.diary_datetime | formatDateD}}日</td>
                            <td>
                                <strong>{{rec.title}}</strong>
                                <pre>{{rec.content}}</pre>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary"
                                   @click.stop.prevent="onViewRecord(rec)">
                                    <span class="oi oi-document"></span>
                                </a>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
