<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /myapp/index.php [QSA,L]
</IfModule>

php_value "display_errors" "On"
php_value "display_startup_errors" "On"
php_value "error_reporting" "E_ALL"

php_value "max_execution_time" "0"

php_value "memory_limit" "1024M"
php_value "post_max_size" "1024M"
php_value "upload_max_filesize" "5G"
php_value "max_input_vars" "10000"
php_value "date.timezone" "Asia/Tokyo"
