myapp/source/php/nbproject/private/
myapp/source/php/public/dist/*.hot-update.json
myapp/source/php/public/dist/*.hot-update.js
myapp/source/php/vendor
myapp/source/php/node_modules
myapp/source/php/log/2020/02/28-app.log
myapp/source/php/log
myapp/source/php/cache
