<div class="top-component"
     v-cloak>

    <form class="form-signin">

        <div class="card">

            <div class="card-header">
                <h3 class="text-muted mt-2 mb-2 text-center">{{AppContext.name}} <img v-bind:src="AppContext.baseUrl + '/assets/img/logo.png'" height="31"></h3>
            </div>

            <div class="card-body">

                <p class="text-secondary">
                    <strong>
                        <span class="oi oi-thumb-up"></span> ようこそ、My Appアプリケーションへ！
                    </strong>
                </p>

                <p>
                    MyAppは、簡易なCRUD機能などを備えたWebアプリケーションのひな型です。
                </p>

                <p>
                    本アプリケーションは、Webアプリケーションの学習に役立てることを目的に作成されたもので<br>
                    アプリケーション単体で、何かに役立つというものではありません。
                </p>

                <p>
                    My Appは、以下の機能を備えています。
                </p>

                <ul class="pl-1" style="list-style: none;">
                    <li><span class="oi oi-account-login"></span> ログイン</li>
                    <li><span class="oi oi-key"></span> パスワード変更</li>
                    <li><span class="oi oi-cog"></span> システム設定の編集</li>
                </ul>

                <p>
                    <a class="btn btn-secondary"
                       href="https://github.com/ison12/webAppTemplate"
                       target="_blank">
                        <span class="oi oi-bug"></span> My GitHub
                    </a>
                </p>

            </div>

        </div>

    </form>

</div>
