<div class="top-component"
     v-cloak>

    <form class="form-signin">

        <div class="card">

            <div class="card-header">
                <h3 class="text-muted mt-2 mb-2 text-center">{{AppContext.name}} <img v-bind:src="AppContext.baseUrl + '/assets/img/logo.png'" height="31"></h3>
            </div>

            <div class="card-body">

                <p class="text-secondary">
                    <strong>
                        <span class="oi oi-thumb-up"></span> ようこそ、My Appアプリケーションへ！
                    </strong>
                </p>

                <p>
                    MyAppは、”CRUD機能を備えるWebアプリケーションのひな型”として作成したものです。<br>
                    My Appは、以下の機能を備えています。
                </p>

                <ul class="pl-5">
                    <li>ユーザーの登録</li>
                    <li>ユーザーの退会</li>
                    <li>ログイン</li>
                    <li>パスワード変更</li>
                    <li>日記の管理</li>
                    <li>システム設定（管理者のみ）</li>
                </ul>

            </div>

        </div>

    </form>

</div>
