<div class="user-regist-request-component"
     v-cloak
     ref="view">

    <form class="form-signin">

        <div class="card">

            <div class="card-header">
                <h3 class="text-muted mt-2 mb-2 text-center">{{AppContext.name}} <img v-bind:src="AppContext.baseUrl + '/assets/img/logo.png'" height="31"></h3>
            </div>

            <div class="card-body">

                <error-list-component :errors="errorsOnBoard"></error-list-component>

                <div v-if="isRegistRequestComplete">
                    <p class="text-primary text-center mt-3 mb-3">
                        <span class="oi oi-envelope-closed"></span> アカウント宛にメールを送信しました<br>
                    </p>
                </div>

                <div class="form-group">
                    <label class="text-muted">アカウント <span class="small">（EMailを入力）</span></label>
                    <input type="text"
                           name="user_account"
                           class="form-control"
                           v-model="data.user_account"
                           :readonly="isRegistRequestComplete">
                    <input-error-view-component class="form-control-plaintext" :selector="'[name=user_account]'" :messageInfo="getError('user_account')"></input-error-view-component>

                </div>

                <div class="form-group mt-3">
                    <button type="submit"
                            class="btn btn-primary btn-block"
                            v-on:click.prevent.stop="onExec"
                            :disabled="isRegistRequestComplete">
                        <span class="oi oi-person"></span> ユーザーを登録する
                    </button>
                </div>

                <div class="form-group">
                    <a class="btn btn-link btn-block"
                       v-bind:href="AppContext.baseUrl + '/login?user_account=' + castString(data.user_account)"
                       v-on:click="">
                        <span class="oi oi-account-login"></span> ログインする
                    </a>
                </div>

            </div>

        </div>

    </form>

</div>
