.user-regist-request-component {

}

.user-regist-request-component .form-signin {
    max-width: 480px;
    margin: 0 auto;
}

.user-regist-request-component .form-group {
    margin-bottom: .5rem;
}