.password-change-component {

}

.password-change-component .form-signin {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.password-change-component .form-group {
    margin-bottom: .5rem;
}